{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container my-5">
   {% include "_message.html" %}
  <div class="card bg-dark text-white">
  <img src="{{ url_for('static', filename='images/main.jpg') }}" class="card-img" alt="Human holding drug" style="opacity: 0.3;">
  <div class="card-img-overlay overflow-auto">
    <h2 class="card-title">Medication Dose Tracker</h2>
    <p class="card-text">Rhoncusnulla egetvestibulum dictum imperdietnunc eleifendnam ac odio, mattisaliquam pharetrasuspendisse. Montes praesent bibendum conubia scelerisque dictumst lobortis parturient, ultricies rhoncusdonec. Dictumst nonetiam etnullam fermentum purus, eget vitaesuspendisse.</p>
    <a class="btn btn-success btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
  </div>
</div>
</div>
{% endblock %}